body {
  font-family: 'Cardo', serif;
}

small {
  font-size: 0.65em;
}

.cursive {
  font-family: 'Fondamento', cursive;
}

.big-title {
  font-size: 4em;
}

h2 {
  margin: 2rem 0;
}

.jumbotron {
  background-color: inherit;
  margin-bottom: 0;
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 4rem 2rem 2rem 2rem;
  }
}

.donate-card + .donate-card {
  margin-top: 2rem;
}

.btn-primary {
  background-color: #ffa83c;
  border: none;
}

.btn-primary:hover {
  background-color: #fd8c00;
}

.mono {
  font-family: 'PT Mono', monospace;
}

.sparkle {
  max-width: 60px;
}

.logo {
  width: 100%;
  height: 55px;
}

.web3-logo {
  background-image: url('/img/web3logo.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.santiment-logo {
  background-image: url('/img/santiment_logo_onwhite_500px.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.livepeer-logo {
  background-image: url('/img/livepeer_600px.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  color: #fda838;
}

a:hover {
  color: #e2860c;
}

a:visited {
  color: #ffcf32;
}

.dropcap {
  font-size: 3rem;
  text-transform: uppercase;
  color: #f9bb5a;
  padding: 0 .5rem 0 0;
  margin: -0.5rem -0rem -1.9rem;
  float: left;
  font-family: 'Fondamento', cursive;
}

.sponsor {
  margin-top: 2rem;
}

.smallcaps {
  font-variant-caps: small-caps;
  text-transform: lowercase;
  font-weight: 400;
  font-size: 1.1em;
  color: #221f20;
}

@media screen and (max-width: 767px) {
  .xs-font-sm {
    font-size: 0.7em;
  }
}
